---
layout: default
---

<div class="home">


    {% if post.length > 0 %}
        <h2>Blog posts</h2>

        <ul class="post-list">
        {% for post in site.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
        {% endfor %}
        </ul>

        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    {% endif %}

    <h2>Featured projects</h2>

    <h3><a class="post-link" href="/action-adventure-world-the-game/">Action adventure World - The Game</a></h3>
    <!--<h3><a class="post-link" href="/action-adventure-world-the-game-episode-2/">Action adventure World - The Game: Episode II</a></h3>
    <h3><a class="post-link" href="/drawings/">Improve drawing</a></h3>-->



</div>
